{% extends "govuk/template.njk" %}

{% set mainClasses = "app-main-wrapper" %}

{% block pageTitle %}
  {% if pageTitle %}
    {{ pageTitle }} | {{ serviceName }}
  {% else %}
    {{ serviceName }}
  {% endif %}
{% endblock %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block containerStart %}
  {% if auth.isAuthenticated %}
    <div class="gov-grid-row">
      <div class="auth-info">
        <p class="govuk-body govuk-!-margin-bottom-0">Signed in as <a href="/home" class="govuk-link">{{ auth.name }}</a>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="/auth/sign-out" class="govuk-link">Sign out</a>
        </p>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block govukFooter %}
  {{ govukFooter() }}
{% endblock govukFooter %}

{% block bodyEnd %}
  <script type="module" nonce="{{ nonce }}" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
