{% extends "layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prose-scope">
      <div class="govuk-body" data-testid="app-page-body">

        <span class="govuk-caption-xl">Data management</span>
        <h1>{{ serviceName }}</h1>

        <p class="govuk-body">
          Manage data published in the 
          <a href="https://find-farm-and-land-payment-data.defra.gov.uk/">Find farm and land payment data</a>
         service.
        </p>

        <p class="govuk-body">
          To manage payments and the payment summary, you must be in the MPDP.Admin user role.
        </p>

        <h3>Payments</h3>

        <p><a class="govuk-link" href="/admin/payments">Manage payments</a></p>

        <h3>Payment summary</h3>
        <p><a class="govuk-link" href="/admin/payment-summary">Manage payment summary</a></p>
      </div>
    </div>
  </div>
{% endblock %}
