{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ govukPanel({
    titleText: "Published date updated",
    html: result.paymentCount + " payment records for financial year " + financialYear + " have been updated"
  }) }}

  <p class="govuk-body">
    The published date has been set to {{ publishedDate }}.
  </p>

  {{ govukButton({
    text: "Return to manage payments",
    href: "/admin/payments",
    classes: "govuk-button--secondary"
  }) }}
{% endblock %}
