{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ govukPanel({
    titleText: "Deletion complete",
    html: result.paymentCount + " payment records with published date on or before " + publishedDate + " have been deleted"
  }) }}

  {{ govukButton({
    text: "Return to manage payments",
    href: "/admin/payments",
    classes: "govuk-button--secondary"
  }) }}
{% endblock %}
