{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {% if errorList %}Error: {% endif %}{{ pageTitle }} - {{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
  {% endif %}
  <nav>
    <a id="back-link" href="/admin/payments" class="govuk-back-link">Back</a>
  </nav>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

  {{ govukWarningText({
    text: "This will permanently delete all payment records for the selected financial year from both the payment activity and scheme summary tables. This action cannot be undone.",
    iconFallbackText: "Warning"
  }) }}

  <form method="post" action="/admin/payments/delete-by-year">
    <input type="hidden" name="crumb" value="{{ crumb }}"/>
    {% set yearItems = [] %}
    {% for year in years %}
      {% set yearItems = (yearItems.push({
        value: year,
        text: year
      }), yearItems) %}
    {% endfor %}

    {{ govukRadios({
      name: "financial_year",
      fieldset: {
        legend: {
          text: "Select financial year to delete",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: yearItems,
      value: financial_year
    }) }}

    {{ govukCheckboxes({
      name: "confirm",
      items: [
        {
          value: "yes",
          text: "I understand this action cannot be undone"
        }
      ]
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Delete payments",
        classes: "govuk-button--warning"
      }) }}
      <a class="govuk-link" href="/admin/payments">Cancel</a>
    </div>
  </form>
{% endblock %}
